<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.kosafinalprojbackend.mybatis.mappers.comment.CommentMapper">

  <!-- 코멘트 존재여부 -->
  <select id="existsByCommentId" parameterType="Long"  resultType="boolean">
    SELECT EXISTS(SELECT 1
                    FROM comment
                   WHERE comment_id = #{commentId}
                     AND deleted_at IS NULL) AS result
  </select>

  <!-- 코멘트 존재여부 -->
  <select id="checkCommentWriter" resultType="boolean">
    SELECT EXISTS(SELECT 1
                  FROM comment
                  WHERE comment_id = #{commentId}
                    AND member_id   = #{memberId}
                    AND deleted_at IS NULL) AS result
  </select>

  <!-- 코멘트 내용 수정 -->
  <update id="updateComment">
    UPDATE comment
       SET content      = #{commentForm.content}
         , updated_at   = NOW()
     WHERE comment_id   = #{commentId}
  </update>

  <!-- 코멘트 내용 삭제 -->
  <delete id="deleteComment" parameterType="Long">
    DELETE
      FROM comment
     WHERE comment_id   = #{commentId}
  </delete>
</mapper>
