<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.kosafinalprojbackend.mybatis.mappers.kanbancolumn.KanbanColumnMapper">

  <!-- 저장 -->
  <insert id="insertKanbanColumns" parameterType="map">
    INSERT INTO kanban_columns (project_id, kanban_column_name)
    VALUES
    <foreach collection="columns" item="column" separator=",">
      (#{projectId}, #{column})
    </foreach>
  </insert>

  <!-- 칸반 컬럼 조회 -->
  <select id="selectKanbanColumns" parameterType="Long" resultType="com.kosa.kosafinalprojbackend.domains.kanban.column.model.dto.ColumnDto">
    SELECT kanban_column_id, kanban_column_name, column_seq
    FROM kanban_columns
    WHERE project_id = #{projectId}
    AND deleted_at IS NULL
  </select>


  <!-- 조회 (kanban_column 존재 여부) -->
  <select id="existsKanbanColumns" parameterType="Long" resultType="boolean">
    SELECT COUNT(*)
    FROM kanban_columns
    WHERE kanban_column_id = #{kanbanColumnId}
  </select>

  <!-- 칸반 컬럼 삭제 -->
  <delete id="deleteKanbanColumns" parameterType="Long">
    UPDATE kanban_columns SET deleted_at = Now()
    WHERE kanban_column_id = #{kanbanColumnId}
  </delete>
</mapper>